:root{ 
    --orange: #ff872c;
    --white: #dcdce5;
    --sm:24px;
}
button {
    width: 165px;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: var(--sm);
    background-color: var(--orange);
}
button:hover {
    background-color: var(--white);
    color: var(--orange);
}
.contenedor-reiniciar {
    display: flex;
    flex-direction: center;
    
}