button {
    color: rgb(161, 208, 178);
}
h1 {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p {
    color: #000;
    margin-top: 30px;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
button {
    color: #FFF;    
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background: #6F2CFF;
    border: #6F2CFF;
    width: 300px;
    height: 68.284px;
    flex-shrink: 0;
    margin-top: 50px;
}
.tituloIzq {
    color: #000;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    margin-left: 40px;
}
header {
    display: flex;
}
.dibujo {
    margin-top: 30px;
    justify-content: right;

}
.card-container {
    display: flex;
    align-items: center;
    margin: 16px 0 16px 0;
}
.icons-container {
    display: grid; /* Esto convierte el elemento en un contenedor de cuadrícula y sus hijos en elementos de cuadrícula */
    grid-template-columns: repeat(2, 1fr); /* Esto crea dos columnas de igual ancho en la cuadrícula */
    margin: 50px 260px 50px 260px; /* Esto establece los márgenes del elemento: 50px arriba, 260px a la derecha, 50px abajo, 260px a la izquierda */
    justify-content: center; /* Esto alinea horizontalmente el contenido de la cuadrícula al centro */

}
.card-icon {
    width: 80px;
    height: 80px;
}
.more-info {
    display: grid;
    background-color: var(--purple);
    width: 100%;
    margin-top: 100px;
}
.icon-text {
    font-size: var(--sm);
}
.card-container {
    display: flex;
    align-items: center;
    margin: 16px 0px 16px 0px;
}
